<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/carrito.css">

</head>

<body>

    <header>
        <div class="fix-header">
            <div class="top-header">
                <div class="burger-menu">
                    <a href="#"><i class="fa fa-bars burger"></i></a>
                </div>

                <div class="logo"> 
                    <a href="/"><img src="img/logo.jpg" alt="Logo de Patitas y Bigotes"></a>
                </div>

                <nav class="login-navbar">
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </nav>
                <nav>
                    <ul class="login-navbar-tablet">
                        <li class="register"><a href="/register">Crea tu cuenta <i class="fa-solid fa-user"></i></a></li>
                        <li class="login"><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    </ul>
                </nav>

                <nav class="cart">
                    <a href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                </nav>
            </div>

            <div class="center-header">
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más...</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
            </div>
        </div>

        <ul class="site-navbar">
            <li class="perros">Perros <i class="fa-solid fa-angle-down"></i></li>
            <li class="gatos">Gatos <i class="fa-solid fa-angle-down"></i></li>
            <li class="roedores">Roedores <i class="fa-solid fa-angle-down"></i></li>
            <li class="aves">Aves <i class="fa-solid fa-angle-down"></i></li>
            <li class="alimentos">Alimentos <i class="fa-solid fa-angle-down"></i></li>
            <li class="marcas">Marcas <i class="fa-solid fa-angle-down"></i></li>
            <li class="accesorios">Accesorios <i class="fa-solid fa-angle-down"></i></li>
        </ul>
    </header>
    

    <div class="contenedor" id="contenedor">
        <div>
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td>
                        <div class="informacion">
                            <img src="/img/148052.webp">
                            <div>
                                <p>Alimento Old Prince </p>

                                <br>
                                <a href="">Remover</a>
                            </div>

                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$5000</td>
                </tr>
                <tr>
                    <td>
                        <div class="informacion">
                            <img src="\img\alimento.webp">
                            <div>
                                <p>Alimento Royal Canin</p>

                                <br>
                                <a href="">Remover</a>
                            </div>

                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$3000</td>
                </tr>
                <tr>
                    <td>
                        <div class="informacion">
                            <img src="\img\alimento2.png">
                            <div>
                                <p>Alimento Pro Plan</p>

                                <br>
                                <a href="">Remover</a>
                            </div>

                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$8000</td>

                </tr>

            </table>
            <div class="total">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>$15000</td>
                    </tr>
                    <tr>
                        <td>Envio</td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$16000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer>
        <section class="footer-article">
            <div class="nosotros">
                <p>Nosotros <i class="fa-solid fa-angle-down"></i></p>
                <article class="article-nosotros">
                    <p><a href="/nosotros">Sobre Patitas Y Bigotes</a></p>
                    <p><a href="/trabajaConNosotros">Trabaja con Nosotros</a></p>
                </article>
            </div>
            <div class="contacto">
                <p>Contacto <i class="fa-solid fa-angle-down"></i></p>
                <article class="contactos">
                    <p>Atención telefónica: 0810-111-1111</p>
                    <p>Atención whatsapp: +54-911-222-2222</p>
                    <p>Horario de atención: Lunes a sábado de 9 a 21 horas</p>
                </article>
            </div>
            <div class="categorias">
                <p>Categorias <i class="fa-solid fa-angle-down"></i></p>
                <article class="categoriaAnimales">
                    <p>Animales <i class="fa-solid fa-angle-down"></i></p>
                    <article class="desplegable">
                        <p><a href="#">Perro</a></p>
                        <p><a href="#">Gato</a></p>
                        <p><a href="#">Roedor</a></p>
                        <p><a href="#">Ave</a></p>
                    </article>
                </article>
                <article class="categoriaMarcas">
                    <p>Marcas <i class="fa-solid fa-angle-down"></i></p>
                    <article class="desplegable">
                        <p><a href="#">Pro Plan</a></p>
                        <p><a href="#">Royal Canin</a></p>
                        <p><a href="#">Frontline</a></p>
                        <p><a href="#">Eukanuba</a></p>
                    </article>
                </article>
                <article class="categoriaTipoProducto">
                    <p>Productos <i class="fa-solid fa-angle-down"></i></p>
                    <article class="desplegable">
                        <p><a href="#">Alimentos</a></p>
                        <p><a href="#">Juguetes</a></p>
                        <p><a href="#">Higiene y salud</a></p>
                        <p><a href="#">Ropa</a></p>
                    </article>
                </article> 
            </div>
        </section>
        <section class="footer-article">
            <a href="/" class="ref-logo"><img src="img/logo.jpg" alt="Logo de Patitas y Bigotes"></a>
        </section>
        <section class="redesSociales">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </section>
    </footer>


</body>

</html>