* {
    box-sizing: border-box;
}



/* LOGIN */
body {
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: whitesmoke;
}
main {
    margin-top: 110px;
}
.main-section-login{
    width: 100%;
    background-color: whitesmoke;
}
.main-title-login h2 {
    font-size: 19px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}
.main-title-login, .subtitle-login{
    display: flex;
    justify-content: center;
    align-items: center;  
    line-height: 1px;
}
.subtitle-login {
    font-size: 16.5px;
    color: rgb(31, 97, 141 );
    letter-spacing: 2.5px;
}
.main-title-login i {
    padding: 0px 8px;
    color: rgb(255, 195, 0);
    opacity: 90%;
}
.email, .password { 
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    letter-spacing: 0.5px;
    margin-top: 18px;
}
.password {
    margin-top: 10px;
}
.email input, .password input {
    border-radius: 5px;
    font-size: 16.5px;
    width: 190px;
    padding: 0px 6px;
}
.passwordbutton {
    letter-spacing: 0.4px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.passwordbutton button  {
    border-radius: 5px;
    font-size: 14px;
    width: 135px;
    height: 20px;
}
.recorder {
    margin-top: 8px;
    display: flex;
    margin-bottom: 11px;
    position: relative;
    right: 40px;
}
.recorder input, .recorder label {
    padding: 0px 3px;
    font-size: 14px;
}
.create-account, .recover-password, .forgot-password, .enter-buttom-login, .recorder {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.7px;
    font-size: 15px;
    font-weight: 500;
}
.create-account p, .create-account a {
    padding: 0px 4px;
}
.create-account a {
    color: rgb(31, 97, 141 );
    text-decoration: none;
}
.enter-buttom-login {
    margin-bottom: 15px;
}
.enter-buttom-login i{
    font-size: 14.5px;
}
.enter-buttom-login button {
    background-color: rgb(255, 195, 0);
    opacity: 90%;
    border-radius: 5px;
}
.enter-buttom-login a {
    text-decoration: none;
    color: black;
    margin: 0px 7px;
    font-size: 18px;
}
.forgot-password {
    margin-top: 4px;
}
.recover-password a {
    color: rgb(31, 97, 141 );
    text-decoration: none;
    margin: 5px;
}








/* New Password */ 
h2 {
    font-size: 19px;
    letter-spacing: 1.5px;
    margin: 7px;
}
.main-password {
    background-color: whitesmoke;
}
.fa-lock, h2, .new-password, .confirm-new-password, .button-change-password{ 
    display: flex;
    justify-content: center;
}
.fa-lock{
    font-size: 19px;
    color: rgba(255, 195, 0, 0.9);
}
.new-password, .confirm-new-password {
    flex-wrap: wrap;
    align-content: center;
    letter-spacing: 0.5px;
    margin: 12px;
}
.new-password input, .confirm-new-password input {
    border-radius: 5px;
    font-size: 15px;
    width: 200px;
    padding: 1px 5px;
}
.button-change-password {
    margin: 13px 0px;
}
.button-change-password button{
    background-color: #69d177;
    letter-spacing: 0.5px;
    border-radius: 5px;
}
.button-change-password a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 15px;
}
.body-new-password {
    background-color: whitesmoke;
}







/* Recover Password */
.body-recover {
    background-color: whitesmoke;
}
.top-main-recover{
    margin-top: 105px;
}
.title-recover {
    letter-spacing: 3px;
    font-size: 19px;
}
.subtitle-recover {
    font-size: 16.5px;
    letter-spacing: 1.8px;
    margin: 4px 0px;
    color: rgb(31, 97, 141 );
}
.main-form-recover, .title-recover, .subtitle-recover {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.main-form-recover input {
    border-radius: 5px;
    margin-top: 7px;
    font-size: 15.5px;
    width: 210px;
    padding: 1px 5px
}
.new-sesion-button a, .recover-button a{
    text-decoration: none; 
    font-size: 16px;
    margin: 10px;
    color: black;
}
.new-sesion-button {
    margin: 12px 0px
}
.recover-button button {
    background-color: #69d177;
    border-radius: 5px;
    margin-top: 15px;
}
.new-sesion-button button {
    background-color: rgb(255, 195, 0);
    opacity: 90%;
    border-radius: 5px;
}








@media(min-width: 460px) {
    main {
        margin-top: 10px;
    }

    /* Login */

    .main-title-login h2 {
        font-size: 21px;
    }
    .subtitle-login {
        font-size: 18px;
        margin-top: 3px;
    }
    .email input, .password input {
        font-size: 17.5px;
        width: 210px;
    }
    .passwordbutton button  {
        font-size: 15.5px;
        width: 140px;
        height: 23px;
    }
    .recorder {
        margin-top: 10px;
        right: 50px;
    }
    .recorder input, .recorder label {
        font-size: 16px;
    }
    .create-account, .recover-password, .forgot-password, .enter-buttom-login, .recorder {
        font-size: 17px;
    }
    .enter-buttom-login i{
        font-size: 16px;
    }
    .enter-buttom-login a {
        font-size: 20px;
    }

    /* New password */

    h2 {
        font-size: 20.5px;
    }
    .fa-lock{
        font-size: 20.5px;
    }
    .new-password input, .confirm-new-password input {
        font-size: 17px;
        width: 220px;
    }
    .button-change-password a {
        font-size: 16px;
    }

    /* Recover Password */

    .title-recover {
        font-size: 20px;
    }
    .subtitle-recover {
        font-size: 17.5px;
    }
    .main-form-recover input {
        font-size: 16px;
        width: 220px;
        padding: 1px 5px
    }
    .new-sesion-button a, .recover-button a{
        font-size: 17.5px;
    }
    .top-main-recover {
        margin-top: 10px;
    }
    .new-password, .confirm-new-password {
        margin: 18px;
    }
   
}



@media (min-width: 769px){

    /* Login */

    .main-title-login h2, .email, .password{
        font-size: 25px;
    }
    .subtitle-login{
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 22px;
    } 
    .recorder {
        position: relative;
        right: 70px;
    }
    .recorder input, .recorder label {
        font-size: 18px;
        letter-spacing: 1.3px;
    }
    .email input, .password input {
        font-size: 20px;
        width: 255px;
    }
    .passwordbutton button  {
        font-size: 18px;
        width: 160px;
        height: 25px;
    }
    .create-account, .recover, .forgot-password, .recorder {
        font-size: 21px;
    }
    .create-account p, .create-account a {
        margin-bottom: 3px;
    }
    .enter-buttom i {
        font-size: 21px;
    }
    .enter-buttom button {
        font-size: 23px;
    }


    /* New Password */

    .main-password h2 {
        font-size: 24px;
    }
    .fa-lock {
        font-size: 23px;
    }
    .new-password input, .confirm-new-password input{
        font-size: 18px;
        width: 260px;
    }
    .button-change-password a {
        font-size: 19px;
    }


   /* Recover Password */

   .title-recover {
    font-size: 23px;
   }
   .subtitle-recover {
    font-size: 19px;
   }
   .main-form-recover input {
    font-size: 19px;
    width: 275px;
    }
    .new-sesion-button a, .recover-button a{
        font-size: 20px;
    }
    .new-sesion-button {
        margin: 3px 0px
    }
    .recover-button button {
    margin-top: 18px
    }
   .new-sesion-button button {
    margin: 10px 0px;
    }  
}
