* {
    box-sizing: border-box;
}



/* LOGIN */
body {
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: whitesmoke;
}
main {
    margin-top: 110px;
}
.main-section{
    width: 100%;
    background-color: whitesmoke;
}
.main-title h2 {
    font-size: 4vw;
    letter-spacing: 1.2px;
    margin-bottom: 14px;
}
.main-title, .subtitle{
    display: flex;
    justify-content: center;
    align-items: center;  
    line-height: 1px;
}
.subtitle {
    margin-top: 9px;
    font-size: 3.5vw;
    color: rgb(31, 97, 141 );
    letter-spacing: 2.5px;
}
.main-title i {
    padding: 0px 8px;
    color: rgb(255, 195, 0);
    opacity: 90%;
}
.email, .password { 
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    letter-spacing: 0.5px;
    font-size: 4vw;
    margin-top: 18px;
}
.password {
    margin-top: 10px;
}
.email input, .password input {
    border-radius: 5px;
    font-size: 3.5vw;
    width: 35vw;
}
.passwordbutton {
    letter-spacing: 0.4px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 3vw;
}
.passwordbutton button  {
    border-radius: 5px;
    font-size: 3.5vw;
}
.recorder {
    margin-top: 10px;
    display: flex;
    margin-bottom: 11px;
    font-size: 3vw;
    position: relative;
    right: 5.5vw;
}
.recorder input, .recorder label {
    padding: 0px 3px;
}
.create-count, .recover, .forgot, .enter-buttom, .recorder {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.7px;
    font-size: 3.2vw;
}
.create-count p, .create-count a {
    padding: 0px 4px;
    height: 0px;
}
.create-count a {
    color: rgb(31, 97, 141 );
    text-decoration: none;
}
.enter-buttom {
    font-size: 4.5vw;
    margin-bottom: 15px;
}
.enter-buttom button {
    background-color: rgb(255, 195, 0);
    opacity: 90%;
    font-size: 4vw;
    border-radius: 5px;
}
.enter-buttom a {
    text-decoration: none;
    color: black;
    margin: 0px 7px
}

.forgot {
    margin-top: 2.8vw;
    margin-bottom: 0px;
    height: 40px;
}
.recover a {
    color: rgb(31, 97, 141 );
    text-decoration: none;
    margin-bottom: 5px;
}








/* New Password */ 
h2 {
    font-size: 5vw;
    letter-spacing: 1.5px;
    margin: 7px;
}
.header-new-password {
    width: 100%;
    display: flex;
    justify-content:center;
}
.logo-new-password img{
    width: 85px;
    display: flex;
    justify-content: center;
}
.main-password {
    background-color: whitesmoke;
}
.fa-lock, h2, .new-password, .confirm-password, .button-change{ 
    display: flex;
    justify-content: center;
}
.fa-lock{
    font-size: 6vw;
    color: rgb(255, 195, 0);
    opacity: 90%;
}
.new-password, .confirm-password {
    flex-wrap: wrap;
    align-content: center;
    letter-spacing: 0.5px;
    margin: 12px;
}
.new-password input, .confirm-password input {
    border-radius: 5px;
    font-size: 3.5vw;
    width: 45vw;
}
.button-change {
    margin: 13px 0px;
}
.button-change button{
    background-color: #69d177;
    letter-spacing: 0.5px;
    border-radius: 5px;
    font-size: 3vw;
}
.button-change a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 4vw;
}
.body-new-password {
    background-color: whitesmoke;
}







/* Recover Password */
.body-recover {
    background-color: whitesmoke;
}
.top-main-recover{
    margin-top: 105px;
}
.title-recover {
    letter-spacing: 3px;
    font-size: 5vw;
}
.subtitle-recover {
    font-size: 4.5vw;
    letter-spacing: 1.8px;
    margin: 6px 0px;
    color: rgb(31, 97, 141 );
}
.main-form-recover, .title-recover, .subtitle-recover {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.main-form-recover label{
    font-size: 4.5vw;
}
.main-form-recover input {
    border-radius: 5px;
    margin-top: 7px;
    font-size: 4.5vw;
    width: 50vw;
}
.new-sesion-button a, .recover-button a{
    text-decoration: none; 
    font-size: 4.5vw;
    margin: 10px;
    color: black;
}
.new-sesion-button {
    margin: 12px 0px
}
.main-form-recover {
    font-size: 3.5vw;
}
.recover-button, .new-sesion-button {
    font-size: 3.5vw;
}
.recover-button button {
    background-color: #69d177;
    border-radius: 5px;
    margin-top: 15px;
}
.new-sesion-button button {
    background-color: rgb(255, 195, 0);
    opacity: 90%;
    border-radius: 5px;
}








@media(min-width: 460px) {
    main {
        margin-top: 14px;
    }
    .subtitle {
        margin: 15px 0px
    }
    .top-main-recover {
        margin-top: 10px;
    }
    .new-password, .confirm-password {
        margin: 18px;
    }
    .button-change a{
        font-size: 20px;
    }
}



@media (min-width: 769px){
    .main-title h2, .email, .password{
        font-size: 30px;
    }
    .subtitle{
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 23px;
    } 
    .passwordbutton { 
      font-size: 20px;
    }
    .recorder {
        position: relative;
        right: 65px;
    }
    .create-count, .recover, .forgot, .recorder {
        font-size: 22px;
    }
    .create-count {
        margin-bottom: 11px;
    }
    .main-password h2 {
        font-size: 30px;
    }
    .new-password, .confirm-password{
        font-size: 28px;
    }
   .fa-lock {
    font-size: 30px;
   }
   .recover-button button {
    margin-top: 18px
   }
   .new-sesion-button button {
    margin: 10px 0px;
   }
   .enter-buttom button {
    font-size: 30px;
    transition: all 450ms;
   }
   .enter-buttom button:hover{
        background-color: #69d177;
        font-size: 32px;
        border: solid 1px white;
   }
}
