/* SECTION MOBILE Y DESKTOP*/ 
    .infoProduct{
        display: flex;
        margin-top: 101.5px;
        justify-content: center;
    }
    .infoProduct .article{
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 35px 4px;
    }


    .infoProduct article section h2{
        font-size: 1.4rem;
        font-weight: lighter;
    }
    .infoProduct .article .section{
        padding: 10px;
        border: solid 1px rgb(255, 195, 0, 0.9);
        border-radius: 25px;
        width: 204px;
        height: 488px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }       
    .infoProduct .article .section .preview{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .infoProduct .article .section .preview img{
        width: 100%;
        height: 100%;
    }
    .infoProduct .article .section .preview .detalle{
        font-size: 1.1rem;
        font-style: oblique;
        color: rgba(0, 0, 0, 0.429);
    }
    .infoProduct .article .section .preview p{
        font-size: 1.2rem;
        padding: 3px;
    }
    .infoProduct .article .section .preview .precioanterior{
        text-decoration:line-through;
        color: rgba(0, 0, 0, 0.429);
    }
    .infoProduct .article .section .preview .buttons{
        width: 100%;
    }
    .infoProduct .article .section .preview .buttons .agregarAlCarrito{
        font-size: 1rem;
        padding: 7px 15px;
        width: 80%;
        background-color: whitesmoke;
        border: solid 1px rgb(37, 89, 157);
        border-radius: 50px;
        cursor: pointer;
        color: rgb(37, 89, 157);
        margin: 2.5px 0px;
    }
    .infoProduct .article .section .preview .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .infoProduct .article .section .preview .buttons .comprarAhora{
        font-size: 1rem;
        padding: 7px 15px;
        background-color: rgb(16, 114, 16);
        border: solid 1px rgb(13, 78, 13);
        border-radius: 50px;
        cursor: pointer;
        color: white;
        margin: 2.5px 0px;
    }
    .infoProduct .article .section .edit-delete{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .infoProduct .article .section .edit-delete .editar{
        font-size: 1rem;
        padding: 7px 15px;
        background-color: rgb(212, 139, 3);
        border: solid 1px rgb(249, 162, 1);
        border-radius: 50px;
        cursor: pointer;
        color: white;
        margin: 2px;
    }
    .infoProduct .article .section .edit-delete .eliminar{
        font-size: 1rem;
        padding: 7px 15px;
        background-color: rgb(212, 3, 3);
        border: solid 1px rgb(255, 0, 0);
        border-radius: 50px;
        cursor: pointer;
        color: white;
        margin: 2px;
        width: 50%;
        height: 35px;
    }


    .infoProduct .article .detalleTablet{
        display: none;
    }


@media (min-width: 460px){
    .infoProduct{
        margin-top: 0px;
        padding: 35px 15px;
    }
    .infoProduct .article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
        border: solid 1px rgb(255, 195, 0, 0.9);
        border-radius: 25px;
        width: 387px
    }

    .infoProduct .article .section{
        padding: 10px;
        border: none;
        width: 200px;
        height: 375px;
    }
    .infoProduct .article .section h2{
        height: 0px;
    }
    .infoProduct .article .section .preview img{
        width: 90%;
        height: 60%;
    }
    .infoProduct .article .section .preview .buttons{
        display: none;
    }
    .infoProduct .article .section .edit-delete{
        display: none;
    }

    .infoProduct .article .detalleTablet{
        display: block;
        padding: 10px;
        width: 175px;
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .detalleAmplio{
        font-size: 1.1rem;
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .buttons{
        width: 100%;
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .buttons button{
        margin: 2.5px 0px;
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .buttons .agregarAlCarrito{
        font-size: 1rem;
        padding: 7px 15px;
        background-color: whitesmoke;
        border: solid 1px rgb(37, 89, 157);
        border-radius: 50px;
        cursor: pointer;
        color: rgb(37, 89, 157);
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .buttons .comprarAhora{
        font-size: 1rem;
        padding: 7px 15px;
        background-color: rgb(16, 114, 16);
        border: solid 1px rgb(13, 78, 13);
        border-radius: 50px;
        cursor: pointer;
        color: white
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .edit-delete{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .edit-delete .editar{
        font-size: 1rem;
        padding: 7px 15px;
        background-color: rgb(212, 139, 3);
        border: solid 1px rgb(249, 162, 1);
        border-radius: 50px;
        cursor: pointer;
        color: white;
        margin: 2px;
    }
    .infoProduct .article .detalleTablet .detalleProductoAmpliado .edit-delete .eliminar{
        font-size: 1rem;
        padding: 7px 15px;
        background-color: rgb(212, 3, 3);
        border: solid 1px rgb(255, 0, 0);
        border-radius: 50px;
        cursor: pointer;
        color: white;
        margin: 2px;
    }
}

@media (min-width: 769px){
    
}