*{
    font-family: 'Mouse Memoirs';
    letter-spacing: 1.5px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.form-register{
    display: none;
}
.container-create-edit-product{
    margin-top: 107px;
}
.container-register{
    margin-top: 107px;
}

@media (min-width: 460px){
    .container-create-edit-product{
        margin-top: 25px;
    }
    .container-register{
        margin-top: 25px;
    }
}

    .button-register{
        margin-top: 10px;
        cursor: pointer;
        border-radius: 26px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 0 rgb(0 0 0 / 20%);
        height: 40px;
        width: 80%;  
        color: #ffffff;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
        background-color: #5bb75b;
        background-image: linear-gradient(to bottom, #62c462, #51a351);
        background-repeat: repeat-x;
        border-color: #51a351 #51a351 #387038;
    }

    

    .button-register2{
        margin-top: 10px;
        cursor: pointer;
        border-radius: 26px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 0 #273b77;
        height: 40px;
        width: 80%;  
        color: #fff;
        border-color: #4960a5;
        border-top-color: #8d9cbd;
        background: #4568ad;
        background: linear-gradient(to bottom, #e1e1ea 0%, #5874b3 1%, #405689 66%, #405689 98%, #5874b3 100%);
    }

    .button-register3{
        margin-top: 10px;
        cursor: pointer;
        border-radius: 26px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 0 rgb(0 0 0 / 20%);
        height: 40px;
        width: 80%;  
        color: #da573b;
        background-color: #f3f3f3;
        background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
        font-weight: bold;
        background-repeat: repeat-x;
        text-shadow: none;
    }