/* SECTION MOBILE Y DESKTOP*/ 


        .info{
            display: flex;
            background-color: rgba(255, 196, 0, 0.8);
            width: 100%;                    
            margin-top: 110px;
            justify-content: center;
        }
        
        .preview{
            display: flex;
            flex-direction: column;            
        }

        .btn{
            position: relative;
            left: 120px;
        }
        
        .info .article{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        
        .info .article .section{
            margin: 10px;
            padding: 25px;
            background-color: whitesmoke;
            border-radius: 25px;
            align-items: center;
            justify-content: center;
            width: 65vw;
            position: relative;                                         
        }       

            .info .article .section h2{
            font-size: 1rem;
        }

        .info .article .section .preview{
            align-items: center;
            justify-content: center;
        }

    .info .article .section .preview .precioanterior{
            align-items: center;
            text-decoration:line-through;
            justify-content: center;
        }

        .info .article .section .preview .precioactual{
            align-items: center;
            
        }

        .info .article .section .preview img{
            width: auto;
            height: 200px;                        
        }

        .info .article .section .preview .precioanterior{
            padding: 5px;
        }

        .info .article .section .preview .precioactual{
            padding: 5px;
        }

        .section .btn button{
            font-weight: 700;
            color: rgb(255, 195, 0);
            opacity: 90%;
            padding: 9px 25px;
            background-color: rgb(31, 97, 141 );
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3 ease 0s;
            }
        
            .section .btn button:hover{
                background-color: #e2504c;
                color: rgb(255, 195, 0);
                transform: scale(1.1);
            }
            

       

@media (min-width: 460px){
    .info{
        margin-top: 0px;
    }
    
    header .site-navbar{
        margin-top: 80px;
    }  
}

@media (min-width: 769px){
    .producto{
        width: 30%;
    }
    .producto .nombre{
        font-size: 4vw;
    }
    .producto .descripcion{
        font-size: 3vw;
    }
    .producto .precio{
        font-size: 4vw;
    }
    .agregarCarrito{
        font-size: 3.5vw;
    }
    .comprar{
        font-size: 3.5vw;
    }
    .info .article .section{
        width: 438px;
    }
}
@media (min-width: 1280px){
    .producto{
        width: 22%;
    }
    .producto .nombre{
        font-size: 3vw;
    }
    .producto .descripcion{
        font-size: 2vw;
    }
    .producto .precio{
        font-size: 3vw;
    }
    .agregarCarrito{
        font-size: 2.5vw;
    }
    .comprar{
        font-size: 2.5vw;
    }
}

.derechos{
    padding: 15px 10px;
    text-align: center;
}

.derechos small{
    font-size: 15px;
}
