*{ 
    font-family: 'Karla', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    background-color: whitesmoke;
}


header{
    width: 100%;
    background-color: #8ECAE6;
}
.fix-header{
    background-color: #8ECAE6;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 2px;
}
.burger-menu{
    text-align: left;
}
.burger-menu i{
    background-color: rgba(255, 195, 0);
    opacity: 90%;
    border-radius: 10%;
    color: #8ECAE6;
    font-size: 1.5rem;
    height: 45px;
    padding: 10px;
    width: 40px;
}
.burger-menu .clicked{
    border: solid 2px rgba(255, 195, 0);
    padding: 8px;
    background-color: rgb(37, 89, 157);
    opacity: 70%;
}
header .fix-header .top-header .burger-menu-displayed{
    display: none;
}
header .fix-header .top-header .burger-menu-displayed a{
    text-decoration: none;
    color: rgb(37, 89, 157);
}
header .fix-header .top-header .burger-menu-displayed .pet{
    padding: 1px;
}
header .fix-header .top-header .burger-menu-displayed ul li{
    display: none;
}
header .fix-header .top-header .burger-menu-displayed ul .li-blocked{
    display: block;
    padding-left: 5px;
}
header .fix-header .top-header .burger-menu-displayed ul .li-blocked a{
    color: rgb(91, 87, 87);
}
header .fix-header .top-header .burger-menu-displayed-block{
    position: absolute;
    padding: 5px;
    top: 102px;
    left: 0px;
    width: 50%;
    border: solid 1px rgb(37, 89, 157);
    border-radius: 1%;
    z-index: 10;
    background-color: whitesmoke;
    display: block;
}
.logo img{
    width: 75px;
}
.navbar-tablet{
    display: none;
}
header .fix-header .top-header .navbar-celphone .user-logged-navbar a img{
    width: 2.5rem;
    border: solid 1px rgb(37, 89, 157);
    border-radius: 50%;
}
header .fix-header .top-header .navbar-tablet .user-logged-navbar-tablet a img{
    width: 2.5rem;
    border: solid 1px rgb(37, 89, 157);
    border-radius: 50%;
}
.login-navbar i{
    font-size: 1.8rem;
    color: 023047(37, 89, 157);
}
.login-navbar a i{
    color: rgb(37, 89, 157);
}
.login-navbar-tablet li a{
        text-decoration: none;
        color: rgb(37, 89, 157);
        font-weight: lighter;
        font-size: 1.1rem;
}
.login-navbar-tablet li a i{
    font-size: 1.2rem;
    color: rgb(37, 89, 157);
}
header ul li{
    list-style-type: none;
}
header .cart i{
    font-size: 1.8rem;
    color: rgb(37, 89, 157);
}
header .center-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header .center-header form{
    width: 60%;
    background-color: white;
    border-radius: 3px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 4px;
}
header .center-header .buscador .placeh{
    width: 90%;
    padding: 2px;
    border: none;
}
header .center-header .buscador i{
    width: 8%;
    color: gray;
}
header .site-navbar{
    display: none;
}
header .site-navbar-displayed .perros{
    position: absolute;
    z-index: 9;
    width: 20%;
    left: 0.5px;
    padding-left: 3px;
    background-color: #7fc0e1f5;
    border: 1px solid #65acd0;
    display: none;
}
header .site-navbar-displayed .gatos{
    position: absolute;
    z-index: 9;
    width: 20%;
    left: 20%;
    padding-left: 3px;
    background-color: #7fc0e1f5;
    border: 1px solid #65acd0;
    display: none;
}
header .site-navbar-displayed .roedores{
    position: absolute;
    z-index: 9;
    width: 20%;
    left: 40%;
    padding-left: 3px;
    background-color: #7fc0e1f5;
    border: 1px solid #65acd0;
    display: none;
}
header .site-navbar-displayed .aves{
    position: absolute;
    z-index: 9;
    width: 20%;
    left: 60%;
    padding-left: 3px;
    background-color: #7fc0e1f5;
    border: 1px solid #65acd0;
    display: none;
}
header .site-navbar-displayed .marcas{
    position: absolute;
    z-index: 9;
    width: 19.7%;
    left: 80%;
    padding-left: 3px;
    background-color: #7fc0e1f5;
    border: 1px solid #65acd0;
    display: none;
}
header .site-navbar-displayed .ul-block{
    display: block;
}
header .site-navbar-displayed ul li a{
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(37, 89, 157);
}


footer{
    padding: 15px 20px;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgba(128, 128, 128, 0.315);
}
footer .footer-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
footer .footer-article div{
    padding-bottom: 10px;
}
footer .footer-article div p{
    font-size: 1rem;
    font-style: italic;
    color: rgb(37, 89, 157);
}
footer .footer-article div article{
    padding-left: 12px;

}
footer .footer-article div article p{
    font-size: 1rem;
    font-style: normal;
    color: black;
}
footer .footer-article div article p a{
    text-decoration: none;
    color: black;
}
footer .footer-article a{
    align-self: center;
}
footer .footer-article a img{
    width: 90px;
}
footer .redesSociales{
    display: flex;
    justify-content: center;
}
footer .redesSociales a{
    padding: 0px 10px;
}
footer .redesSociales a i{
    color: rgb(37, 89, 157);
    font-size: 1.3rem;
}


@media (min-width: 460px){
    header .top-header .logo{
        position: relative;
        top: 5px;
        right: 70px;
        padding-bottom: 4px;
    }
    header .top-header .login-navbar-tablet li a{
        position: relative;
        top: 5px;
        right: 45px;
    }
    .burger-menu i{
        display: none;
    }
    .navbar-tablet{
        display: block;
    }

    header .center-header .buscador{
        width: 281.4px;
    }
    
    header .site-navbar{
        display: block;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        padding: 5px 2px;
        background-color: #7fc1e1;
        margin-top: 101.5px;
    }
    header .site-navbar li{
        font-size: 1rem;
        color: rgb(37, 89, 157);
    }
    header .site-navbar i{
        font-size: 0.6rem;
        color: rgb(37, 89, 157);
    }

    .navbar-celphone{
        display: none;
    }
}


@media (min-width: 769px){
    header {
        background-color: #8ECAE6;
    }
    header .fix-header{
        height: 95px;
    }
    header .top-header .logo{
        position: relative;
        top: 13px;
        right: 175px;
    }
    header .fix-header .top-header .navbar-tablet .user-logged-navbar-tablet a img{
        position: relative;
        top: 10px;
        left: 105px;
        transition: all 0.5s;
    }
    header .fix-header .top-header .navbar-tablet .user-logged-navbar-tablet a img:hover{
        width: 3.3rem;
        border: solid 2px rgb(255, 195, 0, 0.9);
    }
    header .top-header .login-navbar-tablet li a{
        position: relative;
        top: 10px;
        left: 100px;
    }
    header .top-header .login-navbar-tablet .register a{
        transition: all 0.3s;
    }
    header .top-header .login-navbar-tablet .register:hover a{
        color: rgb(255, 195, 0, 0.9);
    }
    header .top-header .login-navbar-tablet .register a i{
        transition: all 0.3s;
    }
    header .top-header .login-navbar-tablet .register:hover a i{
        color: rgb(255, 195, 0, 0.9);
    }
    header .top-header .login-navbar-tablet .login a{
        transition: all 0.3s;
    }
    header .top-header .login-navbar-tablet .login:hover a{
        color: rgb(255, 195, 0, 0.9);
    }
    header .top-header .login-navbar-tablet .login a i{
        transition: all 0.3s;
    }
    header .top-header .login-navbar-tablet .login:hover a i{
        color: rgb(255, 195, 0, 0.9);
    }
    header .top-header .cart{
        position: relative;
        top: 10px;
        left: 50px;
    }
    header .top-header .cart:hover i{
        transition: all 0.3s;
    }
    header .top-header .cart:hover i{
        color: rgb(255, 195, 0, 0.9);
    }
    header .fix-header .center-header .buscador{
        position: relative;
        bottom: 40px;
        right: 80px;
    }
    header .fix-header .center-header .buscador .placeh{
        font-size: 1rem;
    }
    header .fix-header .center-header .buscador i{
        font-size: 1.3rem;
    }
    header .site-navbar{
        margin-top: 95px;
    }
    header .site-navbar-displayed ul li a{
        font-size: 0.9rem;
    }

    footer .footer-article{
        flex-direction: row;
        justify-content:space-around;
    }
    footer .footer-article .nosotros .article-nosotros p{
        transition: all 0.5s;
    }
    footer .footer-article .nosotros .article-nosotros p:hover{
        text-decoration: underline;
    }
    footer .redesSociales i{
        transition: all 0.3s;
    }
    footer .redesSociales a i:hover{
        font-size: 1.5rem;
    }
}