*{
    font-family: 'Mouse Memoirs';
    letter-spacing: 1.5px;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: whitesmoke;
}

/* STYLES HEADER MOBILE */

header{
    width: 100%;
    background-color: #add5fa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 2px;
}
.burger-menu{
    text-align: left;
}
.burger-menu i{
    background-color: rgb(31, 97, 141);
    border-radius: 10%;
    color: #add5fa;
    font-size: 1.4rem;
    height: 45px;
    padding: 11px;
    width: 40px;
}
.logo img{
    width: 75px;    
}
.login-navbar-tablet{
    display: none;
}
.login-navbar i{
    font-size: 1.8rem;
    color: rgb(31, 97, 141 );
}
.login-navbar-tablet li a{
        text-decoration: none;
        color: rgb(31, 97, 141 );
        font-weight: lighter;
        font-size: 1.1rem;
}
.login-navbar-tablet li a i{
    font-size: 1.2rem;
    color: rgb(31, 97, 141 );
}
header ul li{
    list-style-type: none;
}
header .cart i{
    font-size: 1.8rem;
    color: rgb(31, 97, 141 );
}
.center-header{
    padding-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .input{
    background-color: whitesmoke;
    border: 1px solid rgb(31, 97, 141);
    outline: none;
    color: grey;
    padding: 0vw 0vw 2px 2px;
    width: 75%;
    height: 25px;
    font-size: 1rem;
}
.form .submit{
    background-color: whitesmoke;
    border: 1px solid grey;
    color: rgb(31, 97, 141);
    width: 25px;
    height: 25px;
    font-size: 1.3rem;
    text-align: center;
}
header .site-navbar{
    display: none;
}

.info .article .section .preview .detalle{
    justify-content: center;
    text-align: justify;
    margin: 5px;
    max-width: 70vw;  
}

.info .article .section{
max-width: 70vw;
}




/* END STYLES HEADER DESKTOP */

/* SECTION MOBILE Y DESKTOP*/ 

    .section .btn button{
        font-weight: 700;
        color: rgb(255, 195, 0);
        opacity: 90%;
        padding: 9px 25px;
        background-color: rgb(31, 97, 141 );
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3 ease 0s;
        }
    
        .section .btn button:hover{
            background-color: #e2504c;
            color: rgb(255, 195, 0);
            transform: scale(1.1);
        }
        
        .info{
            display: flex;
            background-color: rgba(255, 196, 0, 0.8);
            width: auto;
            justify-content: space-evenly;
            margin-top: 140px;
        }
        
        .preview{
            display: flex;
            flex-direction: column;            
        }

        .btn{
            position: relative;
            left: 100px;
        }
        
        .info .article .section{
            margin: 25px 25px 25px 25px;
            padding: 25px;
            background-color: whitesmoke;
            border-radius: 25px;
            align-items: center;
            justify-content: center;                                
        }

            .info .article .section h2{
            font-size: 1rem;
        }

        .info .article .section .preview{
            align-items: center;
            justify-content: center;
        }

    .info .article .section .preview .precioanterior{
            align-items: center;
            text-decoration:line-through;
            justify-content: center;
        }

        .info .article .section .preview .precioactual{
            align-items: center;
            
        }

        .info .article .section .preview img{
            width: auto;
            height: 200px;                        
        }

        .info .article .section .preview .precioanterior{
            padding: 5px;
        }

        .info .article .section .preview .precioactual{
            padding: 5px;
        }

        


/* Footer */

footer{
    padding: 8px 4px;
    background-color: whitesmoke;
}
.footer-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}
.footer-article a{
    text-decoration: none;
}
.footer-article div{
    width: 51%;
    border-bottom: solid 1px #0071FF;
}
.footer-article div p{
    width: 100%;
    color: #0071FF;
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 2px;
}
.footer-article article p{
    font-size: 1.2rem;
    opacity: 0.6;
    color: #0071FF;
}
.footer-article div article{
    display: none;
}
.footer-article div article .desplegable p{
    display: none;
}
.footer-article .ref-logo{
    width: 30%;
    display: flex;
    justify-content: center;
}
.footer-article .ref-logo img{
    width: 100%;
}
.redesSociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding: 4px 25%
}
.redesSociales i{
    color: #FFEFCA;
    font-size: 1.6rem;
}

@media (min-width: 460px){
    .burger-menu i{
        display: none;
    }
    .login-navbar{
        display: none;
    }
    .login-navbar-tablet{
        display: block;
    }
    header .site-navbar{
        display: block;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        padding: 2px;
        background-color: #ffefca86;
    }
    header .site-navbar li{
        font-size: 1.2rem;
        color: #0071FF;
    }
    header .site-navbar i{
        font-size: 0.8rem;
        color: #0071FF;
    }
    .form .input{
        width: 350px;
    }
    main{
        margin-top: 131.617px;
    }
    .marcasDestacadas .marca{
        width: 30%;
    }
}
@media (min-width: 769px){
    header .site-navbar li{
        font-size: 1.3em;
    }
    header .site-navbar i{
        font-size: 0.8em;
    }
    .producto{
        width: 30%;
    }
    .producto .nombre{
        font-size: 4vw;
    }
    .producto .descripcion{
        font-size: 3vw;
    }
    .producto .precio{
        font-size: 4vw;
    }
    .agregarCarrito{
        font-size: 3.5vw;
    }
    .comprar{
        font-size: 3.5vw;
    }
    .footer-article div:hover article{
        display: block;
    }
    .footer-article .categorias article:hover article p{
        display: block;
    }

    .info .article .section{
        width: 438px;
    }
}
@media (min-width: 1280px){
    .producto{
        width: 22%;
    }
    .producto .nombre{
        font-size: 3vw;
    }
    .producto .descripcion{
        font-size: 2vw;
    }
    .producto .precio{
        font-size: 3vw;
    }
    .agregarCarrito{
        font-size: 2.5vw;
    }
    .comprar{
        font-size: 2.5vw;
    }
}

.footer-article .ref-logo{
    width: 105px;
    height: auto;
}

.derechos{
    padding: 15px 10px;
    text-align: center;
}

.derechos small{
    font-size: 15px;
}
