<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 

<body>

   
    
    <%- include("./partials/header") %>


      <div class="cart-container">
        <h2>Carrito de compras</h2>
        <div class="cart-items">
          <!-- Producto 1  -->
          <div class="cart-row">
            <div class="cart-item">
              <img src="/img/148052.webp" alt="Producto 1">
              <p>Producto 1</p>
              <p>Descripción del producto 1</p>
            </div>
            <div class="product-quantity">
              <button class="quantity-decrement" type="button"><i class="fas fa-minus"></i></button>
              <input class="quantity-input" type="number" min="1" value="1" />
              <button class="quantity-increment" type="button"><i class="fas fa-plus"></i></button>
            </div>
            <div class="cart-item-total precio-individual">
              <p>$10</p>
            </div>
            <div class="cart-item-remove">
              <button>Eliminar</button>
            </div>
          </div>
          <!-- Producto 2  -->
          <div class="cart-row">
            <div class="cart-item">
              <img src="/img/alimento.webp" alt="Producto 2">
              <p>Producto 2</p>
              <p>Descripción del producto 2</p>
            </div>
            <div class="product-quantity">
              <button class="quantity-decrement" type="button"><i class="fas fa-minus"></i></button>
              <input class="quantity-input" type="number" min="1" value="1" />
              <button class="quantity-increment" type="button"><i class="fas fa-plus"></i></button>
            </div>
            <div class="cart-item-total">
              <p>$20</p>
            </div>
            <div class="cart-item-remove">
              <button>Eliminar</button>
            </div>
          </div>
          <!-- Producto 3  -->
          <div class="cart-row">
            <div class="cart-item">
              <img src="/img/alimento2.png" alt="Producto 3">
              <p>Producto 3</p>
              <p>Descripción del producto 3</p>
            </div>
            <div class="product-quantity">
              <button class="quantity-decrement" type="button"><i class="fas fa-minus"></i></button>
              <input class="quantity-input" type="number" min="1" value="1" />
              <button class="quantity-increment" type="button"><i class="fas fa-plus"></i></button>
            </div>
            <div class="cart-item-total">
              <p>$30</p>
            </div>
            <div class="cart-item-remove">
              <button>Eliminar</button>
            </div>
          </div>
        </div>
        <div class="cart-total">
          <h3>Total: $60</h3>
          <button>Checkout</button>
        </div>
      </div>

      <%- include("./partials/footer") %>
        <script>

          var botonesIncrementar = document.querySelectorAll('.quantity-increment');
          var botonesDecrementar = document.querySelectorAll('.quantity-decrement');
          var contadoresElemento = document.querySelectorAll('.quantity-input');
          var preciosElemento = document.querySelectorAll('.cart-item-total');
          var totalElemento = document.querySelector('.cart-total h3');
       



          function actualizarPrecio() {
            var total = 0;
            preciosElemento.forEach((precioElemento, i) => {
              var precio = parseFloat(precioElemento.textContent.replace('$', ''));
              var cantidad = parseInt(contadoresElemento[i].value);
              total += precio * cantidad;
            });
            totalElemento.textContent = 'Total: $' + total.toFixed(2);
          }
          

          botonesIncrementar.forEach((botonIncrementar, i) => {

            botonIncrementar.addEventListener('click', function () {

              contadoresElemento[i].value = Number(contadoresElemento[i].value) + 1;
     
              actualizarPrecio();

            })
          });

          botonesDecrementar.forEach((botonDecrementar, i) => {

            botonDecrementar.addEventListener('click', function () {
              if (contadoresElemento[i].value > 1) {
                contadoresElemento[i].value = Number(contadoresElemento[i].value) - 1;
              }
              actualizarPrecio();

            })
          });
          
        </script>




</body>

</html>