<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 

<body>

    <%- include("./partials/header") %>
    
<main class="nosotros">

    <div class="message">
        <h1 class="tittle">Quienes somos</h1>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis quasi ipsa in praesentium molestiae, ducimus perspiciatis saepe quaerat inventore amet repellendus. Error tenetur officiis consequuntur rem atque praesentium quibusdam?</p>
    </div>

    <br>
    
    <div class="image">
        <img src="images/groupImage.jpg" alt="groupImage">
    </div>

</main>

    <%- include("./partials/footer") %>


</body>

</html>