<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 
    
<body class="body-recover">

    <%- include("./partials/header") %>

    <main class="top-main-recover">
        <section>
            <div>
                <h2 class="title-recover">Recuperar contraseña</h2>
                <h4 class="subtitle-recover">Introduce tu e-mail...</h4>
            </div>

            <form class="main-form-recover">
                <div>
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="E-mail">
                </div>

                <div class="recover-button">
                    <button type="submit"><a href="/auth/newpassword">Recuperar!</a></button>
                </div>
                    
                <div class="new-sesion-button">
                    <button type="submit"><a href="/auth/login">Volver para iniciar sesión</a></button>
                </div>
            </form>
        </section>
    </main>

    <%- include("./partials/footer") %>

</body>
</html>