<footer>

    <section class="footer-article">

        <div class="div-nosotros">
            <p>Sobre nosotros</p> 

            <article class="article-nosotros">
                <p><a href="/nosotros">Patitas y Bigotes</a></p>
            </article>
        </div>

        <div class="contacto">
            <p>Contacto</p>

            <article class="contactos">
                <p>Atención telefónica: 0810-111-1111</p>
                <p>Atención whatsapp: +54-911-222-2222</p>
                <p>Horario de atención: Lunes a sábado de 9 a 21 horas</p>
            </article>
        </div>

    </section>

    <section class="footer-article">
        <a href="/" class="ref-logo"><img src="/images/logo.jpg" alt="Logo de Patitas y Bigotes"></a>
    </section>

    <section class="redesSociales">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </section>

</footer>