<header>
    <div class="fix-header">
        <div class="top-header">
            <div class="burger-menu">
                <a href="#"><i class="fa fa-bars burger"></i></a>
            </div>

            <div class="logo"> 
                <a href="/"><img src="/images/logo.jpg" alt="Logo de Patitas y Bigotes"></a>
            </div>

            <nav class="login-navbar">
                <a href="#"><i class="fa-solid fa-user"></i></a>
            </nav>
            <nav>
                <ul class="login-navbar-tablet">
                    <li class="register"><a href="/auth/register">Crea tu cuenta <i class="fa-solid fa-user"></i></a></li>
                    <li class="login"><a href="/auth/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                </ul>
            </nav>

            <nav class="cart">
                <a href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>

        <div class="center-header">
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más...</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </div>

    <ul class="site-navbar">
        <li class="perros">Perros <i class="fa-solid fa-angle-down"></i></li>
        <li class="gatos">Gatos <i class="fa-solid fa-angle-down"></i></li>
        <li class="roedores">Roedores <i class="fa-solid fa-angle-down"></i></li>
        <li class="aves">Aves <i class="fa-solid fa-angle-down"></i></li>
        <li class="alimentos">Alimentos <i class="fa-solid fa-angle-down"></i></li>
        <li class="marcas">Marcas <i class="fa-solid fa-angle-down"></i></li>
        <li class="accesorios">Accesorios <i class="fa-solid fa-angle-down"></i></li>
    </ul>

</header>