<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %> 
    
<body class="body-new-password">
    
    <%- include("../partials/header") %>

    <main>
        <section class="main-password">
            <h2>Crear nueva contrase単a</h2>
            <i class="fa-solid fa-lock"></i>

            <div>
                <p class="new-password">
                    <label for="new-password"></label>
                    <input type="password" name="new-password" id="new-password" placeholder="Nueva contrase単a:" pattern=".{8,15}" autocomplete="new-password" alt="strongPass" alt="alphanumeric" required>
                </p>
                <p class="confirm-new-password">
                    <label for="new-password"></label>
                    <input type="password" name="new-password2" id="new-password" placeholder="Repetir contrase単a:" required>
                </p>
            </div>

            <div class="button-change-password">
                <button type="submit"><a href="/auth/login">Cambiar contrase単a!</a></button>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>